{% extends 'base.html' %}
{% block header %}
    <title>User Information</title>
{% endblock %}

{% block content %}

   <div class="dark-back">
        <div class="container">
            <h4 id="background_info">Background</h4>
            <p class="back-info">Displayed below is the JWT issued by Google for your account.</p>
        </div>
    </div>
    <br>
    <br>

    <form>
        <div class="container">
            <div class="form-group row">
                <label for="JWT" class="col-sm-2 col-form-label"> JWT: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="JWT"
                           value={{ issued_JWT }}>
                </div>
            </div>
            <div class="form-group row">
                <label for="User_ID" class="col-sm-2 col-form-label"> User ID: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="User_ID"
                           value={{ issued_id }}>
                </div>
            </div>
        </div>

    </form>


{% endblock %}